<h2>Ask the Stupid Coach A Question!</h2>
<br>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Enter your question">
  <input type="submit" value="Ask Now!">
</form>
